build/
CMakeFiles/
.vscode/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
*.data
*.traceg
examples/bfs/graph256k.txt
examples/bfs/graph64k.txt
*input*.txt
*output*.txt
loop*.txt
initialize.txt
**/*.data
**/*.mtx
**/*.o
conan.lock
conanbuildinfo.cmake
conanbuildinfo.txt
conaninfo.txt
graph_info.json
output/
*.stats
*.out
extern/intersim2/y.tab.*
extern/intersim2/lex.yy.*
kernelslist.g
examples/tmp
__pycache__/
*.pyc
sssp