num_memory_buffers=1
num_memories=1
links_per_host=1
links_per_memory_buffer=1
ramulator_config=./LPDDR5-config.cfg
cxl_link_config=./cxl_link.icnt
local_cross_bar_config=./memory_buffer_crossbar.icnt
use_synthetic_memory=1
synthetic_base_address=0x830000000000
synthetic_memory_size=0x010000000000
memory_mapping=GGGGGGGG.00000000.00000000.00RRRRRR.RRRRRRRB.cccccccc.cccCCCCC.bbcSSSSS
functional_sim=1
enable_sub_core=1
num_sub_core=4
max_packet_size=256
m2ndp_interleave_size=256
channel_interleave_size=256
packet_size=32
num_ndp_units=32
ndp_units_per_buffer=32
request_queue_size=64
cxl_link_buffer_size=2048
always_crossbar=0
channel_indexing_policy=1
num_x_registers=256
num_f_registers=256
num_v_registers=256
spad_size=131072
skip_l1d=0
spad_latency=4
shmem_option=0,64,96,120
l1d_config=S:64:128:16,L:T:m:L:L,A:384:48,16:0,32
l1d_num_banks=4
l1d_hit_latency=4
adaptive_l1d=1
l2d_config=S:64:128:16,L:B:m:L:L,A:192:4,32:0,32
l2d_num_banks=4
l2d_hit_latency=8
l0icache_config=N:32:32:4,L:R:f:N:L,A:2:4,32:0,32
l0icache_hit_latency=1
l1icache_config=N:32:128:4,L:R:f:N:L,A:2:4,32:0,32
l1icache_hit_latency=1
dtlb_config=N:32:32:8,L:R:f:N:P,A:2:4,32:0,128
itlb_config=N:32:32:4,L:R:f:N:L,A:2:4,32:0,32
tlb_hit_latency=1
tlb_entry_size=16
page_size=2097152
max_dma_list_size=1
max_kernel_register=8
max_kernel_launch=64
token_buffer_size=64
filter_table_size=1024
inst_buffer_size=16
uthread_slots=16
max_inst_issue=4
inst_fetch_per_cycle=128
use_unified_alu=1
num_i_units=2
num_f_units=1
num_sf_units=1
num_address_units=1
num_ldst_units=4
num_spad_units=4
num_v_i_units=0
num_v_f_units=1
num_v_sf_units=1
num_v_address_units=1
num_v_ldst_units=4
num_v_spad_units=4
simd_width=256
ndp_op_latencies=4,4,4,4,21,4,4,4,4,39,21,12,12,1,4
ndp_op_initialiation_interval=1,1,1,1,1,1,1,1,1,2,8,8,8,1,1
freq=2000,2000,2000,8000,2000,800
log_interval=1000
use_dram_tlb=1
enable_dram_tlb_miss_handling=0
dram_tlb_miss_handling_latency=4000
